* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body form {
    padding: 10px;
    text-align: center;
}

form div,
button {
    margin-top: 20px;
}

form button {
    padding: 10px;
}